<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="VLCVideoScreensaver.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="FuzzyClockScreensaver.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <VLCVideoScreensaver.Properties.Settings>
            <setting name="VLCLocation" serializeAs="String">
                <value />
            </setting>
            <setting name="PlaylistFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="NoAudio" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RandomPlay" serializeAs="String">
                <value>False</value>
            </setting>
        </VLCVideoScreensaver.Properties.Settings>
        <FuzzyClockScreensaver.Properties.Settings>
            <setting name="VLCLocation" serializeAs="String">
                <value />
            </setting>
            <setting name="PlaylistFolder" serializeAs="String">
                <value />
            </setting>
        </FuzzyClockScreensaver.Properties.Settings>
    </userSettings>
</configuration>